.encodePopup {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #00000069;
    display: flex;
    justify-content: center;
    align-items: center;
}

.encodePopup span, .encodePopup iframe {
    border: 0;
    height: 740px;
    width: 500px;
}

.encodePopup span {
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
