html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

button {
  padding: 10px 14px;
}

.loading {

}

h4 {
  margin: 5px;
}

.buttonContainer {
  margin-top: 15px;
}

button {
  cursor: pointer;
  border: 0;
  background: #FBCF09;
  color: #404040;
  font-weight: bold;
  font-size: 14px;
  min-width: 300px;
  margin-bottom: 5px;
  display: block;
}
